<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title></title>
</head>
<body>
<div class="container">
    <br>
    <div class="row justify-content-center">
        <a class="alink" href="/admin">Back</a>
        <a class="alink" href="/">Home</a>
        <a class="alink" href="/help">Help</a>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
            {% with messages = get_flashed_messages(category_filter=["Error"]) %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% with messages = get_flashed_messages(category_filter=["Info"]) %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <br>
            <form action="/admin/update-book" method="POST">
                <div class="input-group">
                    <input type="search" name="search-text" class="form-control"
                           placeholder="Title, Author or Book Type to update">
                    <div class="input-group-append">
                        <button type="submit" name="search-btn" class="input-group-text" style="height:100%;">
                            <i class="fa fa-search search-icon"></i>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
</div>


<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/customs.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-4.3.1.js') }}"></script>
</body>
</html>
