<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title></title>
  </head>
  <body>

  <div class="container">
      <br>
      <div class="row justify-content-center">
          <a class="alink" href="/">Home</a>&nbsp
      </div>
      <br>
      <h4>Developer: </h4>
      <h6>Absera Temesgen</h6><br>
      <h4>Email: </h4>
      <h6>AbseraTemesgen@gmail.com</h6>
      <h6>Abserate55@gmail.com</h6><br>
      <h4>Phone Number: </h4>
      <h6>0953922032</h6>

  </div>

  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/customs.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-4.3.1.js') }}"></script>
  </body>
</html>
